div.grid-33
    div.app--section
        ul.app--message--list
            // Individual conversation
            li
                h3 Last messages for
                    a @#{user.name}
                ul.app--message--conversation
                    each message in messages
                        if (message.user.screen_name == user.screen_name)
                            li.app--message--me
                                div.app--avatar(style='background-image: url(' + message.user.image_url + ')')
                                    img(src='imessage.user.image_url')
                                p.app--message--text #{message.text}
                                p.app--message--timestamp #{message.user.screen_name}
                        else
                            li.app--message
                                div.app--avatar(style='background-image: url(' + message.user.image_url + ')')
                                    img(src='message.user.image_url')
                                p.app--message--text #{message.text}
                                p.app--message--timestamp #{message.user.screen_name}
